body {
    color: white;
}

.stage {  
    position: relative;
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
   overflow: hidden;    
}

.bannerSize{ 
width: 970px; 
height: 250px; 
}

.bannerDetails {
    background-color: black;
    background-image: url('hallo-hi-banners-assets-1/hi.png');
    background-repeat: no-repeat;
    background-position-x: 140px;
    background-position-y: 15px;
    background-size: 45px;
}

.safespace {
    margin-left: 10px;
}

h1 {
    margin-top: 30px;
    font-size: 50px;
}

h2 {
    margin-top: -15px;
    font-size: 30px;
}

p {
    margin-top: -20px;
    font-size: 20px;
}

img {  
  height: 30%;
  width: 12%;
  margin-left: 35%;
  margin-top: -35%;
  margin-bottom: 45px;
}

ul {
    list-style: none;
    margin-left: 45%;
    font-size: 20px;
    margin-top: -30px;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 85px;
    margin-right: 30px;
}

a :visited {
    color: white;
}